@import 'settings';
@import 'foundation';

.img-wrap {padding-right: 0px !important;
  padding-left: 0px !important;
}

.module-left {padding-right: $global-padding / 2; padding-left: 0px !important;}
.module-right {padding-left: $global-padding / 2; padding-right: 0px !important;}
.padded {padding: $global-padding * 3 !important;}

h5 {
  font-family: Helvetica;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.82;
  color: #9b9b9b;
  text-decoration: underline;
}

h3 {
  font-family: Helvetica;
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  color: #262626;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

p {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.33;
  text-align: justify;
  color: #262626;
}

a {
  font-weight: 600;
}
.footer p {
    font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  line-height: 12px;
  color: #000000;
}

.footer a {line-height: 12px; color: black;}
.website {text-decoration: underline;}
